<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fydk.productone.mapper.FydkProductMapper" >

    <resultMap id="BaseResultMap" type="com.fydk.productone.bean.FydkProduct" >
        <id column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="product_code" property="productCode" jdbcType="VARCHAR" />
        <result column="product_type" property="productType" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        product_id, product_name, product_code, product_type
    </sql>
    
    <select id="selectPageList" resultType="java.util.Map" parameterType="java.util.Map">
        select
        	a.*,
        	b.product_type_name,
        	b.level
        from
        	fydk_product a
        	left join fydk_product_type b on a.product_type = b.type_id
        where 
        	1 = 1
        	<if test="productType != null">
            	and a.product_type= #{productType}
        	</if>
        	<if test="productName != null">
            	and a.product_name like CONCAT('%', #{productName}, '%')
        	</if>
    </select>

</mapper>